/**
 * ENTETE
 *
 * Style de l'en-tête : Définit l'apparence et le comportement de l'en-tête, avec une navigation flexible et réactive. 
 * Le menu burger et les éléments associés sont configurés pour s'adapter aux petits écrans, avec un effet d'animation pour l'ouverture et la fermeture du menu.
 * + Ajout : Animation au survol des éléments de menu pour un effet visuel amélioré.
 */

.entete {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 10px 20px;
	z-index: 1000;
	left: 0;
	width: 100%;
	background-color: #4b4b4b;
	min-height: 100px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: -75%;
		width: 50%;
		height: 100%;
		background: linear-gradient(
			120deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		transform: skewX(-25deg);
		animation: glissementGlace 4s infinite;
		pointer-events: none;
	}

	@keyframes glissementGlace {
		0% {
			right: -75%;
		}
		50% {
			right: 100%;
		}
		100% {
			right: 100%;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		background-color: transparent;
		position: relative;
	}

	.menu-toggle-checkbox {
		display: none;
	}

	.menu-toggle-label {
		display: none;
		cursor: pointer;
		width: 40px;
		height: 40px;

		@media screen and (max-width: 800px) {
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 15px;
			right: 25px;
			color: white;
		}

		.icon-close {
			display: none;
		}
	}

	.entete__menu-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		gap: 30px;
		z-index: 1000;
		pointer-events: auto;
	}

	.menu-toggle-checkbox:checked ~ .entete__menu-wrapper {
		max-height: 500px;
		opacity: 1;
	}

	.entete__menu {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
		list-style: none;
	}

	.entete__menu li {
		display: inline-block;
		position: relative;
		z-index: 10;
		padding: 10px 10px;
		left: -51px;
	}

	.entete__menu li a {
		display: block;
		color: rgb(255, 255, 255);
		text-decoration: none;
		position: relative;
		pointer-events: auto;
	}

	.entete__menu li::after {
		content: "";
		background: rgb(123, 122, 122);
		width: calc(100% + 20px);
		height: 0;
		position: absolute;
		bottom: -4px;
		left: -10px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		z-index: -1;
	}

	.entete__menu li:hover::after {
		height: calc(100% + 8px);
	}

	@media screen and (min-width: 801px) {
		.entete__menu-wrapper {
			display: flex !important;
			max-height: none;
			opacity: 1;
			overflow: visible;
		}
	}
}
@media screen and (max-width: 800px) {
	.entete::after {
		display: none;
		content: none;
	}
	.entete {
		flex-direction: column;
		align-items: flex-start;
		padding: 10px;
		width: 100%;
		box-shadow: none !important;

		&__logo {
			align-self: flex-start;
		}

		&__navigation {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		.menu-toggle-label {
			position: absolute;
			top: -92px;
			right: 10px;
			display: block;
			z-index: 1100;
		}

		.entete__menu-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 10px;
			left: -10px;
			width: 100%;
			background-color: #4b4b4b !important;
			padding: 43px;
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
			pointer-events: none;
		}

		.menu-toggle-checkbox:checked ~ .entete__menu-wrapper {
			max-height: 600px;
			opacity: 1;
			pointer-events: auto;
		}

		.entete__menu {
			display: flex;
			flex-direction: column;
			align-items: left;
			text-align: center;
			gap: 15px;
		}

		.entete__menu-wrapper form.search-form {
			margin-top: 20px;
			width: 100%;
			text-align: center;
		}
	}
}
