/*
  --------------------------------- Layout du pied de page
*/

footer {
    background-color: rgb(204, 204, 204);
    color: #000;
    display: flex;  
    flex-direction: row; 
    justify-content: space-between; 
    padding: 2rem;
}

.piedpage {
    display: flex;
    flex-direction: row;
    flex: 1;  
    gap: 90px;

    &__s1, &__s2, &__s3 {
        display: flex;
        flex-direction: column;  
        gap: 20px; 
        max-width: 500;
    }

    &__s1 {
        flex: 1;

            & .menu { //ul
                display : flex;
                flex-direction: column;
            }
    
    }

    &__s2 {
        flex: 1;
    }

    &__s3 {
        flex: 1;
    }

}

.footer_menu_nav {
    display: flex;
    flex: 1;  
    gap: 15px;
}

@media screen and (max-width: 800px) {
    .piedpage {
        flex-direction: column;
        gap: 40px; 
        align-items: center;
    }

    .piedpage__s1,
    .piedpage__s2{
        width: 100%;
        text-align: left;
    }

    .piedpage__s1 {
        margin-left: 30px;
    }

    .piedpage__s2 {
        margin-left: 115px;
    }


    .piedpage__s1__externe,
    .piedpage__s2 > div { 
        display: flex;
        flex-direction: row;
        gap: 15px; 
        flex-wrap: wrap; 
    }

    .footer_menu_nav {
        display: flex;
        flex-direction: row;
        flex: 1;  
        gap: 15px;
        margin-right: 45px;
    }
}