/**
 * FOOTER
 *
 *  Layout du pied de page : Définit l'apparence et la disposition du footer avec un design flexible pour les sections de contenu. 
 *  Les styles sont optimisés pour être réactifs, avec des ajustements pour les petits écrans (moins de 800px et moins de 576px) et une présentation en colonne sur mobile.
 *  
 */

footer {
    background-color: black;
    color: white;
    display: flex;  
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0.3rem;
}

.piedpage {
    display: flex;
    flex-direction: row;
    flex: 1; 
    line-height: 25px;
    gap: 0px;
    justify-content: space-between;

    &__s1, &__s2, &__s3 {
        display: flex;
        flex-direction: column;  
        gap: 15px; 
        max-width: 500px;
    }

    &__s1 {
        flex: 1;
        margin-left: -30px;
        margin-top: -15px;

        .h3 {
            color: white;
            padding-left: 20px;
        }

        .liens-de-voyage {
            padding-left: 45px;
            margin-top: 40px;
            width: 125%;
        }

            & .menu { //ul
                display : flex;
                flex-direction: column;
            }
    
    }

    &__s2 {
        flex: 1;
        margin-right: -300px;
        // padding-left: 245px;


        .recherche {
            margin-top: 15px;
            background-color: white;
        }
       &.icones_reseaux_sociaux img {
            gap: 15px;
       }
    }

    &__s3 {
        flex: 1;
        margin-top: -15px;

    }

    ul#menu-principal-1.menu a,
    ul#menu-externe.menu a{
        color: white !important;
    }

}

.piedpage__3_menu_nav {
    display: flex;
    flex: 1;  
    margin-right: 30px;
    padding-left: 140px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .piedpage {
        flex-direction: column;
        gap: 40px; 
        align-items: center;
        margin-right: 500px;
    }

    .piedpage__s1,
    .piedpage__s2{
        width: 100%;
        text-align: left;
    }

    .piedpage__s1 {
        margin: 0 auto;
    }

    .piedpage__s2 {
        margin-left: 83px;
        margin-right: 0px;
        padding: 0;
    }

    .piedpage__s1__externe,
    .piedpage__s2 > div { 
        display: flex;
        flex-direction: row;
        gap: 15px; 
        flex-wrap: wrap; 
    }

    .piedpage__3_menu_nav {
        display: flex;
        flex-direction: row;
        flex: 1;  
        gap: 15px;
        margin-right: 140px;
        padding-left: 7px;
        margin-top: 10px;


        .menu { //ul
            margin-right: 30px;
            padding: 10px 20px;
        }
    }
}


@media screen and (max-width: 576px) {

    .piedpage__3_menu_nav {

        margin-right: 45px;
    }

}