/**
 * GENERAL
 *
 * Styles généraux : Définit les styles de base pour les éléments populaires et les conteneurs globaux. 
 * Le conteneur .global est limité en largeur et utilise des marges dynamiques pour un affichage réactif. 
 * Le style .populaire applique une couleur de fond spécifique, et la classe .populaire .global gère la disposition flexible des éléments à l'intérieur.
 *  
 */

.populaire {
	background-color: rgb(129, 129, 129);
}

.global {
	padding: 14vh 5vw;
}

.globalTitre {
	text-align: center;
	font-size: 50px;
	margin-top: 250px;

	color: rgba(255, 255, 255, 0.3);
	// background: #1a1a1a;
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.5);
}

.populaire .global {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.carte {
		flex: 0 0 50%;
		box-sizing: border-box;
		padding: 10px;
	}
	p {
		padding: 0;
		margin: 0;
	}
}
