.hero{
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;



    &__titre {
        background-color: rgba(176, 176, 176, 0.5); 
        color: white; 
        padding: 20px;
        border-radius: 5px; 
        width: 40%;
        p {
          padding: 0;
        }
    }

    &__courriel {
        background-color: rgba(176, 176, 176, 0.5);
        color: white;
        padding: 9px;
        border-radius: 5px;
        width: 18%;
        p {
          padding: 0;
        }
    }

    &__adresse {
        background-color: rgba(176, 176, 176, 0.5);
        color: white;
        padding: 9px;
        border-radius: 5px;
        width: 35%;
        p {
          padding: 0;
        }
    }

    &__telephone {
        background-color: rgba(176, 176, 176, 0.5);
        color: white;
        padding: 9px;
        border-radius: 5px;
        width: 9%;
        p {
          padding: 0;
        }
    }

   
      p.hero__description,
      p.hero_auteur {
        padding: 0;
      }
    
}

.conteneur {
      display: flex ;
      justify-content: center;
      position: absolute;
      right: 346px;
      bottom: -255px;
  }
  
  td {
    border:1px solid rgb(0, 217, 255);
  }
    table {
      margin: 50px auto; 
      background: white;
      width: auto; 
      border-collapse: collapse;
    }
    th {
      text-align: left;
  
    }
  
    td, th {
      padding: 8px;
    }
  
    td {
      color: #666;
    }
  
    td:last-child {
      color: #4a4949;
    }


 @media screen and (max-width: 800px) {

  .conteneur {
    right: 38px;
    bottom: -275px;
    left: 37px;
  }

  .hero__courriel {
    width: 23%;
  }
    
  }