/**
 * PAYS
 *
 *  styles de pays
 */

.Pays {
	&__Titre {
	}
}

.galerie__grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.carte-pays {
	background: #fff;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s;
}
.carte-pays:hover {
	transform: scale(1.03);
}
