
.carte{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px;
    text-decoration: none;

   &--grande{
    flex: 1 1 250px;
   } 
   &__image{

    
    color: transparent;


    img{
        width : 100%;
    }
   }
   &__contenu{
       background-color: aliceblue; 

   }
   
   & .carte--grande {
    margin: 10px 10px 10px;
}
//    &__titre{
    
//    }
//    &__description{}
//    &__bouton{
//     &--actif{}

//    }
    &__contenu {
        margin: 10px 10px 10px;
    }


}