/**
 * RECHERCHE
 *
 * Style de la barre de recherche : Définit l'apparence et le comportement de la barre de recherche, 
 * avec un champ d'entrée réactif et une icône d'image à côté. Le style est optimisé pour l'interaction utilisateur, 
 * avec des effets de survol et des styles pour le texte de l'espace réservé.
 *  
 */

.recherche {
	display: flex;
	align-items: center;
	height: 3rem;
	width: 16rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1.5rem;
	margin-right: 100px;
	background: linear-gradient(
		145deg,
		rgba(255, 255, 255, 0.8),
		rgba(220, 220, 220, 0.8)
	);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease-in-out;

	&:hover {
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 0px 30px rgba(0, 0, 0, 0.6);
		transform: translateY(-2px);
	}

	&__input {
		border: none;
		outline: none;
		background-color: transparent;
		flex: 1 0 auto;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		color: #333;

		border-radius: 1rem;

		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
			font-style: italic;
			font-weight: 400;
		}

		&:focus {
			background-color: rgba(0, 0, 0, 0.05);
			border-radius: 1rem;
			box-shadow: 0 0 10px rgba(255, 105, 135, 0.5);
		}
	}

	&__img {
		flex: 0 0 2.5rem;
		padding: 0.5rem;
		margin-left: -2rem;
		border-radius: 50%;
		transition: transform 0.2s ease, filter 0.2s ease;

		&:hover {
			transform: scale(1.2);
			filter: brightness(1.2);
		}
	}
	.recherche__bouton {
		background-color: transparent;
		border: none;
		border-radius: 1.5rem;
		font-size: 1rem;
		color: white;
		cursor: pointer;
		transition: transform 0.3s ease, box-shadow 0.3s ease;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 4px 15px rgba(255, 105, 135, 0.5);
		}

		&:active {
			transform: scale(0.98);
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		}
	}
}
