/**
 * RECHERCHE
 *
 * Style de la barre de recherche : Définit l'apparence et le comportement de la barre de recherche, 
 * avec un champ d'entrée réactif et une icône d'image à côté. Le style est optimisé pour l'interaction utilisateur, 
 * avec des effets de survol et des styles pour le texte de l'espace réservé.
 *  
 */
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.recherche {
	display: flex;
	align-items: center;
	height: 3rem;
	width: 18rem;
	border: 4px solid rgba(0, 0, 0, 0.12);
	border-radius: 2rem;
	margin-right: 100px;
	background: linear-gradient(145deg, #ffffffcc, #e0e0e0cc);
	box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.7),
		0 4px 15px rgba(0, 0, 0, 0.12);
	font-family: "Montserrat", sans-serif;
}

.recherche__input {
	border: none;
	outline: none;
	background-color: transparent;
	flex: 1 0 auto;
	padding: 0.6rem 1.2rem;
	font-size: 1.1rem;
	color: #222;
	border-radius: 1.8rem;
	font-weight: 500;

	&::placeholder {
		color: rgba(0, 0, 0, 0.45);

		font-weight: 600;
	}

	&:focus {
		box-shadow: none;
	}
}

.recherche__img {
	flex: 0 0 2.8rem;
	padding: 0.5rem;
	margin-left: -2.3rem;
	border-radius: 50%;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
}

.recherche__bouton {
	background-color: transparent;
	border: none;
	border-radius: 2rem;
	font-size: 1rem;
	color: #333;
	cursor: pointer;
	padding: 0.3rem 1rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
}

.recherche__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			max-width: 50%;
		}
		h5 {
			a {
				font-family: "Beau Rivage", cursive;
				text-decoration: none;
				padding-left: 20px;
				color: black;
				font-size: 36px;
			}
		}
	}
}

.recherches {
	font-family: "Beau Rivage", cursive;
	font-size: 1.4em;
	letter-spacing: 0.5px;
	color: #000000;
}
