/**
 * SIMPLE
 * 
 *  Style de base du site : Définit les polices et tailles de police pour les éléments de texte principaux 
 *  (body, h1, h2, h3, h4, h5, h6, p) avec des valeurs responsives pour une meilleure adaptabilité.
 */

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }

// * {
// 	margin: 0;
// 	padding: 0;
// }

@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-size: 16px;

	background-color: rgb(255, 255, 255);

	// font-family: "Roboto";
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	overflow-x: hidden;
	user-select: none;
}

h1 {
	font-size: clamp(2rem, 3vw, 5rem);
	// padding-left: 70px;
	text-align: center;
	padding-bottom: 25px;
	padding: 3rem;
	font-family: "Beau Rivage", cursive;
}
h2 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
	// text-shadow: 4px 6px 12px rgba(0, 0, 0, 0.6);
	text-align: center;
}
h3 {
	font-size: clamp(1rem, 2.3vw, 1.5rem);
}
h4 {
	font-size: clamp(0.9rem, 2vw, 1.5rem);
}
h5 {
	font-size: clamp(0.9rem, 2vw, 1.3rem);
}
h6 {
	font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}
p {
	font-size: clamp(0.8rem, 1.7vw, 1rem);
	// padding: 10px 70px;
	line-height: 2;
	// max-width: 600px;
	margin: 0 75px;
	text-align: center;
}
