/**
 * SIMPLE
 * 
 *  Style de base du site : Définit les polices et tailles de police pour les éléments de texte principaux 
 *  (body, h1, h2, h3, h4, h5, h6, p) avec des valeurs responsives pour une meilleure adaptabilité.
 */

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }

// * {
// 	margin: 0;
// 	padding: 0;
// }

@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-size: 16px;

	background-color: rgb(255, 255, 255);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	overflow-x: hidden;
	user-select: none;
}

h1 {
	font-size: clamp(2rem, 3vw, 5rem);
	text-align: center;
	padding-bottom: 25px;
	// font-family: "Beau Rivage", cursive;
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.8),
		rgba(240, 240, 240, 0.6)
	);
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	width: 100%;
	color: #111;
	z-index: 1;
	@media screen and (max-width: 768px) {
		padding: 1rem;
		padding-left: 0rem;
	}
}
h2 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
	text-align: center;
}
h3 {
	font-size: clamp(1rem, 2.3vw, 1.5rem);
}
h4 {
	font-size: clamp(0.9rem, 2vw, 1.5rem);
}
h5 {
	font-size: clamp(0.9rem, 2vw, 1.3rem);
}
h6 {
	font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}
p {
	font-size: clamp(0.8rem, 1.7vw, 1rem);
	line-height: 2;
	margin: 0 75px;
	text-align: center;
	@media screen and (max-width: 768px) {
		text-align: left;
		margin: 0 40px;
	}
}
