.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        @media screen and (max-width:$point__rupture) {
            flex-direction: column; 
        }
        flex-direction: row; 
        align-items: center;
        gap: 0 40px;
        flex-wrap: wrap;

    }
}

